@charset "UTF-8";
.widget-error {
  overflow: hidden; }
  .widget-error:before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 250%;
    height: 250%;
    background-color: #F5F5F5;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8A34), to(#F5F5F5));
    background-image: linear-gradient(#FF8A34, #F5F5F5);
    -webkit-animation: rotate 1s linear infinite;
            animation: rotate 1s linear infinite; }
  .widget-error:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: white;
    border-radius: 6px; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

.ecoach {
  font-family: 微軟正黑體;
  position: fixed;
  z-index: 1000;
  width: 270px;
  left: 2%;
  top: 10%;
  background-color: #F5F5F5;
  border-radius: 6px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .ecoach .row-header {
    position: relative;
    padding: 8px 0px;
    background: linear-gradient(160deg, #EE9630, #E67E43);
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    border-radius: 6px 6px 0px 0px; }
    .ecoach .row-header .close-ecoach {
      cursor: pointer;
      top: 10px;
      right: 10px;
      position: absolute;
      color: #FF8A34;
      background-color: #fff;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .ecoach .row-header .close-ecoach:before {
        margin-left: 0;
        font-size: 12px;
        padding: 0px 6px; }
      .ecoach .row-header .close-ecoach:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .ecoach .list {
    max-height: 320px;
    overflow: auto;
    padding: 8px 15px;
    margin-bottom: 12px; }
    .ecoach .list .course {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #fff;
      border: 1px solid #E6E6E6;
      margin-bottom: 5px;
      border-radius: 3px;
      padding: 8px 20px;
      font-size: 14px;
      color: #000; }
    .ecoach .list .course .title {
      letter-spacing: 0px;
    }
    .ecoach .list .active {
      background-color: #FDF6DA;
      border: 1px solid #FFC60B;
      position: relative; }
      .ecoach .list .active:before {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        top: 50%;
        left: 5px;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 8.7px;
        border-color: transparent transparent transparent #FFC60B; }
    .ecoach .list .disabled {
      color: #E6E6E6; }
    .ecoach .list .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .ecoach .list i:before {
      margin-left: 0;
      margin-right: 6px; }
    .ecoach .list .seen {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(50%, -50%) scale(0);
              transform: translate(50%, -50%) scale(0);
      background: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #4CCC41;
      border: 1px solid #4BB742;
      -webkit-animation: showout 0.6s cubic-bezier(0.68, 0.55, 0.265, 1.55) forwards;
              animation: showout 0.6s cubic-bezier(0.68, 0.55, 0.265, 1.55) forwards; }
      .ecoach .list .seen .svg {
        width: 20px; }
      .ecoach .list .seen .path {
        fill: transparent;
        stroke: #fff;
        stroke-width: 3;
        stroke-dasharray: 25;
        stroke-dashoffset: 26;
        stroke-linecap: round;
        stroke-linejoin: round;
        -webkit-animation: tick 0.6s cubic-bezier(0, 0, 0.32, -0.13) forwards;
                animation: tick 0.6s cubic-bezier(0, 0, 0.32, -0.13) forwards;
        -webkit-animation-delay: .3s;
                animation-delay: .3s; }
      .ecoach .list .seen .flaticon-done {
        display: none; }

@-webkit-keyframes tick {
  from {
    stroke-dashoffset: 26; }
  to {
    stroke-dashoffset: 0; } }

@keyframes tick {
  from {
    stroke-dashoffset: 26; }
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes showout {
  from {
    -webkit-transform: translate(50%, -50%) scale(0);
            transform: translate(50%, -50%) scale(0); }
  to {
    -webkit-transform: translate(50%, -50%) scale(1);
            transform: translate(50%, -50%) scale(1); } }

@keyframes showout {
  from {
    -webkit-transform: translate(50%, -50%) scale(0);
            transform: translate(50%, -50%) scale(0); }
  to {
    -webkit-transform: translate(50%, -50%) scale(1);
            transform: translate(50%, -50%) scale(1); } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .ecoach .list .seen .flaticon-done {
        display: block;
        text-align: center;
        color: #fff; }
        .ecoach .list .seen .flaticon-done:before {
          margin-left: 0;
          font-size: 14px; }
      .ecoach .list .seen .svg {
        display: none; } }
  .ecoach .row-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 50px; }
    .ecoach .row-next .next-btn {
      padding: 8px 30px;
      background-color: #FFE284;
      color: #FF8A34;
      font-size: 14px;
      font-weight: 500;
      font-family: "微軟正黑體", Arial, sans-serif;
      border-radius: 20px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .ecoach .row-next .next-btn:hover {
        text-decoration: none;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

.hide-coach {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0; }

.ecoach-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EE9630), to(#E67E43));
  background-image: linear-gradient(#EE9630 0%, #E67E43 100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 2%;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
  .ecoach-icon img {
    z-index: 1100;
    width: 50px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .ecoach-icon img:hover {
      -webkit-transform: scale(1.08);
              transform: scale(1.08); }

.eicon-error {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5));
  background-image: linear-gradient(#F5F5F5);
  overflow: hidden; }
  .eicon-error:before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8A34), to(#FF8A34)), -webkit-gradient(linear, left top, left bottom, from(#FF8A34), to(#FF8A34));
    background-image: linear-gradient(#FF8A34, #FF8A34), linear-gradient(#FF8A34, #FF8A34);
    -webkit-animation: rotate 1s linear infinite;
            animation: rotate 1s linear infinite; }
  .eicon-error:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: #F5F5F5;
    border-radius: 50%; }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

.show-icon {
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1); }

.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  letter-spacing: 1px;
  -webkit-animation: dash 5s linear forwards, filling 5s ease-in forwards;
          animation: dash 5s linear forwards, filling 5s ease-in forwards; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
